/* fira-sans-100 - latin */
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 100;
    src: local('Fira Sans'),
}
/* fira-sans-100italic - latin */
@font-face {
    font-family: 'Fira Sans';
    font-style: italic;
    font-weight: 100;
    src: local('Fira Sans'),
         url('/fonts/fira-sans-v17-latin-100italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* fira-sans-200 - latin */
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 200;
    src: local('Fira Sans'),
         url('/fonts/fira-sans-v17-latin-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* fira-sans-200italic - latin */
@font-face {
    font-family: 'Fira Sans';
    font-style: italic;
    font-weight: 200;
    src: local('Fira Sans'),
         url('/fonts/fira-sans-v17-latin-200italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* fira-sans-300 - latin */
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Fira Sans'),
         url('/fonts/fira-sans-v17-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* fira-sans-300italic - latin */
@font-face {
    font-family: 'Fira Sans';
    font-style: italic;
    font-weight: 300;
    src: local('Fira Sans'),
         url('/fonts/fira-sans-v17-latin-300italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* fira-sans-regular - latin */
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Fira Sans'),
         url('/fonts/fira-sans-v17-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* fira-sans-italic - latin */
@font-face {
    font-family: 'Fira Sans';
    font-style: italic;
    font-weight: 400;
    src: local('Fira Sans'),
         url('/fonts/fira-sans-v17-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* fira-sans-500 - latin */
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 500;
    src: local('Fira Sans'),
         url('/fonts/fira-sans-v17-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* fira-sans-500italic - latin */
@font-face {
    font-family: 'Fira Sans';
    font-style: italic;
    font-weight: 500;
    src: local('Fira Sans'),
         url('/fonts/fira-sans-v17-latin-500italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* fira-sans-600 - latin */
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Fira Sans'),
         url('/fonts/fira-sans-v17-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* fira-sans-600italic - latin */
@font-face {
    font-family: 'Fira Sans';
    font-style: italic;
    font-weight: 600;
    src: local('Fira Sans'),
         url('/fonts/fira-sans-v17-latin-600italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* fira-sans-700 - latin */
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Fira Sans'),
         url('/fonts/fira-sans-v17-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* fira-sans-700italic - latin */
@font-face {
    font-family: 'Fira Sans';
    font-style: italic;
    font-weight: 700;
    src: local('Fira Sans'),
         url('/fonts/fira-sans-v17-latin-700italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* fira-sans-800 - latin */
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 800;
    src: local('Fira Sans'),
         url('/fonts/fira-sans-v17-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* fira-sans-800italic - latin */
@font-face {
    font-family: 'Fira Sans';
    font-style: italic;
    font-weight: 800;
    src: local('Fira Sans'),
         url('/fonts/fira-sans-v17-latin-800italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* fira-sans-900 - latin */
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 900;
    src: local('Fira Sans'),
         url('/fonts/fira-sans-v17-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* fira-sans-900italic - latin */
@font-face {
    font-family: 'Fira Sans';
    font-style: italic;
    font-weight: 900;
    src: local('Fira Sans'),
         url('/fonts/fira-sans-v17-latin-900italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

h1, h2, h3, h4 {
    font-family: 'Fira Sans', sans-serif;
}

*{
    font-family: 'Fira Sans', sans-serif;
}


/* columns, from https://www.veriphor.com/articles/markdown-attributes/ */
.c {
    column-gap: 2em;
}

ul.c,
ol.c {
    column-gap: 3em;
    width: fit-content;
}

.c2 {
    column-count: 2;
}

// .c3 {
//     column-count: 3;
// }

// .c4 {
//     column-count: 4;
// }

.btn-primary {
    color: #fff;
    background-color: #00876C!important; // #4664AA!important;
    border-color: #fff!important;
}

a,
a:hover {
  color: #4664AA;
}

p.a {
    font-style: normal;
}
/* Add space below each author in the people block */
.people-widget {
  .people-person {
    margin-bottom: 1rem;
  }
}

// mark, .hlblue {
//     background-color: rgb(178,205,251);
// }
