{{- define "main" -}}

{{/* Author profile page. */}}

{{/* If an account has not been created for this user, just display their name as the title. */}}
{{ if not .File }}
<div class="universal-wrapper pt-3">
  <h1>{{ .Title }}</h1>
</div>
{{ end }}

<section id="profile-page" class="pt-5">
  <div class="container">
    {{/* Show the About block if an account exists for this user. */}}
    {{/* TODO: remove dependency on v1 blocks. Either migrate to v2 blocks(?) or directly implement layout here. */}}
    {{ if .File }}
      {{ $widget := "blocks/v1/about.html" }}
      {{ $username := (path.Base .File.Dir) }}{{/* Alternatively, use `index .Params.authors 0` */}}
      {{ $params := dict "wcPage" $ "wcBlock" . "author" $username }}
      {{ partial $widget $params }}
    {{end}}

    <!-- {{ $query := where .Pages ".IsNode" false }}
    {{ $count := len $query }}
    {{ if $count }}
    <div class="article-widget content-widget-hr">
      <h3>{{ i18n "user_profile_latest" | default "Latest" }}</h3>
      <ul>
        {{ range $query }}
        <li>
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </li>
        {{ end }}
      </ul>
    </div>
    {{ end }}-->
  </div> 
</section>

{{/* add custom code here: recent talks, pubs, news. */}}

<section id="profile-extension" class="pt-5">
<!-- TODO filter nach Tag "Vortrag"; richtige Section i.S.v widget; showcard format;  -->
{{ if .File }}
{{ $username := (path.Base .File.Dir) }}
{{ $profilemd := printf "%s" (print "/profiles/" $username ".md") -}}
  {{ if (fileExists $profilemd) }}
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-4">
      </div>
      <div class="col-12 col-lg-8">
        <!-- <h2 class="mb-0"><a href="/profiles/{{ $username}}/"><i class="fas fa-circle-info big-icon"></i> Ausführliches Profil</a></h2> -->
        <a href="../../profiles/{{$username}}/"><i class="fa-regular fa-circle-right"></i> Publikationen, Vorträge, Neuigkeiten</a>
      </div>
    </div> 
    <!-- {{ $talks := first 20 (where .Pages "Type" "event") }}
    {{ if gt (len $talks) 0 }}
      <div class="article-widget">
        <div class="hr-light"></div>
        <h3>
          <a href="/event">{{ i18n "talks" }}</a>
        </h3>
        <ul>
          {{ range $talks }}
          <li>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
          </li>
          {{ end }}
        </ul>
      </div>
    {{ end }} -->
  </div>
  {{end}}
{{end}}
</section> 


{{- end -}}